html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 60px;
  color: #FFF; /* nouvelle couleur des titres */
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #f6f6f6; /* nouvelle couleur des liens */
}

body {
  margin: 0;
  padding: 0 13%;
  background-color: #1e1e1e;
}

p {
  color: #f6f6f6; /* nouvelle couleur des liens */
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
}

p {
  font-weight: 600;
}

li {
  font-weight: 600;
}

/* Add some basic styling to the toggle button */
.theme-toggle {
  position: relative;
  display: inline-block;
}

.theme-icon {
  width: 7%;
  height: 7%;
  margin: 2%;
}

/* Add some styling for the dark and light themes */
.dark-theme {
  background-color: #333;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #333;
}

.button-18 {
  align-items: center;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  float: right;
}

.button-18:hover,
.button-18:focus {
  background-color: #ffffff;
  color: #000000;
}

.button-18:active {
  color: rgba(0, 0, 0, 0.7);
}

.banana {
  display: block;
  margin: 0 auto;
  width: 15%; /* or any other percentage or pixel value */
  height: auto;
  border-radius: 35%;
}

.fulfix-bar {
  display: block;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 35%;
  padding: 0;
  margin: 0; /* Assurez-vous qu'il n'y a pas de marges */
  overflow: hidden; /* Cache tout débordement */
  transition: all 0.3s ease-in-out;
}

.fulfix-bar:hover {
  transform: scale(1.08);
}

.github-original {
  filter: invert(1);
}

/* Styles spécifiques pour les repositories */
.repository {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  background-color: #2c2c2c; /* couleur de fond des cartes */
}

.repository:hover {
  transform: scale(1.05);
}

.repository img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.repo-details h3 {
  margin: 0;
  font-size: 24px;
  color: #FFF; /* couleur des titres des repositories */
}

.repo-details p {
  margin: 5px 0 0;
  font-size: 16px;
  color: #ddd; /* couleur des descriptions des repositories */
}

.repo {
  color: #FFF;
  font-size: 27px;
  margin-top: 4%;
}